<form method='post' action='/sessions'>
  Email: <input type='email' name='email'>
  Password: <input type='password' name='password'>
  <input type='submit' value='Sign in'>
  <a href="users/password/reset">Forgotten your password?</a>
</form>
