<form action="/links" method='post'>
      <p>Website Title: </p>
      <input name="title" type="text">
      <p>URL:</p>
      <input name="url" type="text">
      <p>tag:</p>
      <input name="tag" type="text">
      <input type="submit" value="Create link">
</form>
